/* Styles for activity log */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

mat-progress-spinner {
  display: block;
  margin: 1rem auto;
}
