/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-body font-normal leading-relaxed bg-background text-contrast;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

@media (min-width: 768px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }
}

@media (min-width: 1024px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2rem; }
}

section {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  section {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  section {
    margin-bottom: 4rem;
  }
}
