.theme-editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.color-input,
.font-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
